NODE_BIN=/opt/eterra/node/current/solochain-eterra-node
RAW_SPEC=/opt/eterra/node/current/dev-raw.json
BASE_PATH=/var/lib/eterra-node-dev
CHAIN_RPC_PORT=9944
CHAIN_P2P_PORT=30333
MINI_LAN_IP=192.168.1.21
RPC_CORS=all
AURA_SURI=//Alice
GRAN_SURI=//Alice
